# Jekyll生成ディレクトリ
_site/

# macOS用システムファイル
.DS_Store

# Windowsサムネイルキャッシュ
Thumbs.db

# Jekyll関連の一時ファイル
.jekyll-metadata
.jekyll-cache/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
